# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3


.env
.idea/
*.http
# Node / React
node_modules/
dist/
dist-ssr/

# Environment & Secrets
.env.*

# IDEs & System
.vscode/
*.swp
*.swo
Thumbs.db

